body{
    margin: 0;
}
 h1{
    text-align: center;
}
.parent{
    background-color: beige;
    padding: 20PX;
    display: flex;
    height: 350px;
    gap: 20px;
    justify-content: space-evenly;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;

   
}
.child{
    width: 100px;
    background-color: brown;
    padding: 10PX
}